h1 {
    font-size: 32px !important;
    font-weight: 700 !important;
    line-height: 40px !important;
}

h3 {
    font-size: 18px !important;
}

/* nav animation */
.nav-item {
    margin: 0 10px;
}

.nav-link {


    padding: 10px 20px;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #dc3545;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;

}

.nav-link:hover {
    color: #a71d2a;
}

.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* blurred bg */
.blur-bg-freelancer {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* hover box */
/* Initial styles for service items */
.service-item {
    position: relative;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid transparent;
}

/* Hover effect for service items */
.service-item:hover {
    border-color: white;
}

/* Slow border animation */
.service-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid red;
    opacity: 0;
    transition: opacity 0.6s, transform 0.6s;
    transform: scale(1.1);
    pointer-events: none;
}

.service-item:hover::before {
    opacity: 1;
    transform: scale(1);
}

/* icons flip */
/* Define the flip animation */
@keyframes flip {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* Add flip effect to icons on hover with reverse direction on alternate cycles */
.flip-icon:hover i {
    animation: flip 1s linear infinite alternate-reverse;
}

.animated-border {

    border-radius: 50% 50% 48% 52% / 37% 38% 62% 63%;
    animation: borderAnimation 5s infinite;
}

@keyframes borderAnimation {
    0% {
        border-radius: 50% 50% 48% 52% / 37% 38% 62% 63%;
    }

    25% {
        border-radius: 48% 52% 50% 50% / 40% 36% 64% 60%;
    }

    50% {
        border-radius: 52% 48% 50% 50% / 60% 64% 36% 40%;
    }

    75% {
        border-radius: 50% 50% 52% 48% / 63% 62% 38% 37%;
    }

    100% {
        border-radius: 50% 50% 48% 52% / 37% 38% 62% 63%;
    }
}

.img-thumbnail-custom {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid var(--bs-border-color);
    border-radius: .375rem;
    max-width: 100%;
    height: 340px;
    object-fit: cover;
}